.gotoShopBtnStyles{
    background-color: #b88e2f;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-family: "Poppins";
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
}
.gotoShopBtnStyles:hover{
    box-shadow: 2px 2px 2px 0px black;
}

.signOutBtnStyles{
    background-color: white;
    margin-left: 10px;
    color: #b88e2f;
    border: 1px solid #b88e2f;
    font-weight: 500;
    width: 200px;
    height: 50px;
    font-family: "Poppins";
    font-size: 19px;
    margin-top: 20px;
    cursor: pointer;
}
.signOutBtnStyles:hover{
    background-color: rgba(237, 43, 43, 0.638);
    color: white;
}

.gotoShopBtnStyles:active, .signOutBtnStyles:active{
    scale: 0.9;
}

.signedInHeading{
    font-size: 40px;
}


@media (max-width: 500px) {
    .signedInHeading{
        font-size: 28px;
        text-align: center;
    }

    .gotoShopBtnStyles{
        width: 140px;
    }

    .signOutBtnStyles{
        width: 140px;
    }
}